/* Sidebar Style */
.cstm-dropdown.active-drop .collapse:not(.show) {
  display: block;
}

.aside {
  background: var(--Secondary-Navbar, #1e2640);
  border-right: 0 solid #08076d;
  /* overflow: hidden; */
  bottom: 0;
  width: 224px;
  padding: 16px 10px;
  display: flex;
  /* gap: 16px; */
  flex: 1 0 0;
  flex-shrink: 0;
  color: #fff;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1035;
}
.aside-body {
  overflow-y: visible;
  margin-top: 15px;
  width: 208px;
}
.aside-body > * {
  margin-bottom: 2px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  gap: 4px;
  /* flex: 1 0 0; */
}
.aside-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.aside-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

.brand {
  color: #fff;
  display: flex;
  /* width: 100%; */
  border-radius: 4px;
  /* width: 192px; */
  /* align-items: center; */
  gap: 12px;
}

.brand-logo {
  display: flex;
  /* flex-direction: row; */
}
.brand-logo-img {
  width: 39px;
  height: 39px;
  border-radius: 4px;
  background: lightgray 50% / contain no-repeat;
}
.brand-logo-text {
  color: var(--Black-100, #fff);
  /* Body 1/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding-left: 10px;
  /* position: absolute; */
  /* top: -3px; */
  /* line-height: 22px; 146.667% */
}
.brand-logo-text-2 {
  color: var(--Black-100, #fff);
  font-family: Galano Grotesque;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  text-decoration-line: underline;
  position: absolute;
  top: 40px;
  padding-left: 10px;
  cursor: pointer;
}
.brand-arrow {
  /* width: 20px;
  height: 20px; */
  flex-shrink: 0;
  position: absolute;
  top: 26px;
  right: 20px;
  padding-left: 10px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .brand-aside-toggle {
    font-size: 1rem;
    color: #fff;
  }
  .navigation-link {
    padding: 5px 16px;
  }
}
.brand-aside-toggle {
  border-radius: 4px;
  cursor: pointer;
  /* font-size: calc(1.325rem + .9vw); */
  line-height: 0;
  padding: 0.375rem;
}
.brand-aside-toggle {
  background-color: #fff;
  color: #fff;
}
.menu-btn span {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}
.brand-aside-toggle:hover {
  background-color: #fff;
  color: #fff;
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-item {
  transition: all 0.2s ease-in-out;
}
.navigation-link {
  align-items: center;
  color: #ffffff;
  display: flex;
  outline: none;
  padding: 4px 16px;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.aside .navigation-link.active,
.aside .navigation-link:hover {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}

.navigation-link-extra,
.navigation-link-info {
  align-items: center !important;
  display: flex !important;
}
.navigation-link-info {
  overflow: hidden !important;
}

.navigation-link-icon {
  width: 35px !important;
}
.navigation-icon {
  display: flex !important;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

/* .sidebar-toggled .aside.toggled .navigation-dropdown .navigation, */
.sidebar-toggled .aside.toggled .navigation-dropdown > .navigation-link::after,
.sidebar-toggled .aside.toggled .cstm-dropdown,
.toggled-mini .aside .cstm-dropdown {
  display: none;
}
/* .sidebar-toggled .aside.toggled:hover .navigation-dropdown .navigation
  {
   display: inherit;
  } */
.sidebar-toggled
  .aside.toggled:hover
  .navigation-dropdown
  > .navigation-link::after {
  display: inline-block;
}
.aside-footer {
  border-radius: 4px;
  background: #353c53;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 192px;
  padding: 3px 12px;
  gap: 12px;
}
.aside-footer-img {
  width: 24px;
  height: 24px;
}
.aside-text {
  opacity: 0.8;
  font-size: 13px;
}
.wallet-box {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 10px;
}
