.navbar {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  display: flex;
  gap: 16px;
  flex: 1 0 0;
  justify-content: center;
  z-index: 30;
  position: sticky;
  top: 0;
  padding: 12px 32px !important;
}
.nav-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
